<section class="pagination">
    <% if (currentPage!==1 && previousPage !==1) { %>
        <a class="" href="?page=1">1</a>
        <% }%>

            <% if(hasPreviousPage) { %>
                <a href="?page=<%= previousPage %>" class="">
                    <%= previousPage %>
                </a>
                <% } %>
                    <a href="?page=<%= currentPage %>" class="active">
                        <%= currentPage %>
                    </a>

                    <% if(hasNextPage) { %>
                        <a href="?page=<%= nextPage %>" class="">
                            <%= nextPage%>
                        </a>
                        <% } %>
                            <% if(lastPage !==currentPage && nextPage !==lastPage) { %>
                                <a href="?page=<%= lastPage %>" class="">
                                    <%= lastPage %>
                                </a>
                                <% } %>

</section>